
:root{
    --white: #ffffff;
    --black: #000000;
    --grey: hsl(213, 9%, 39%);
    --light_grey: #888;
    --morelight_grey: #bbb;
    --dark_blue: hsl(243, 87%, 12%);
    --orange:#ce5a07;
    --dark-purple:rgb(45, 30, 69);
    --purple: hsl(238, 22%, 44%);
    --dark_green: hsl(170, 45%, 23%);
    --light_green: hsl(170, 45%, 43%);
    --blue: hsl(224, 93%, 38%);
    --light_blue: hsl(224, 93%, 58%);
    --header-color: #27242d;
}

* {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 20px;
}


.header {
    background-color: var(--header-color);
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 20px 30px;
}

.header .logo {
    font-weight: bold;
    margin-right: 20px;
}

.header div:last-child {
    font-size: 40px;
    font-weight: bold;
}

#background-img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}


.main-heading {
    text-align: left;
    font-size: 64px;
    position: absolute;
    padding-left: 10%;
    top: 20%;
}


.main-heading_p {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    padding-left: 10%;
    top: 32%;
}

.button{
    text-decoration: none;
    color: var(--white);
    display: block;
    font-weight: bold;
    position: absolute;
    background: var(--purple);
    border: 10px solid transparent;
    border-radius: 2px;
    font-size: 1.7rem;
    margin-left: 10%;
    top: 45%;
}


.left-section {
    display: inline-block;

    padding-right: 60%;
    position: absolute;
}

.right-section {
    display: inline-block;
    float: right;
}

.group-image {
    border-radius: 7px;
    float: right;
    max-width: 50%;
}

.image{
    border-radius: 7px;
    float: right;
    max-width: 50%;
}

.section1 {

    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.section2 {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.img-about{
    max-width: 70%;
    border-radius: 7px;
    float: right;
}

.boxes {
    display: inline-block;

}

.box {
    display: inline-block;
    border: solid 0px;
    width: 500px;
    height: 620px;
    border-radius:10px;
}

.pic {
    border-radius: 10px;
}

.section3 {
    margin-top: 10%;
    margin-left: 10%;
}

.left-section2 {
    display: inline-block;
    margin-right: 60%;
    position: absolute;
}


.right-section2 {
    display: inline-block;
    float: right;
}


#img1, #img2, #img3 {
    border-radius: 50%;
    width: 15%;
    height: 20%;
}


.section4 {
    position: relative;
    border: solid 0px;
    margin: 10% 30% 10% 10%;
}

.Gallery {
    text-align: left;
    padding-left: 6%;
    font-size: 25px;
}


.prev, .next {
    top: 75%;
    cursor: pointer;
    position: absolute;
    color: var(--light_grey);
    width: auto;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10%;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: var(--black);
    color: var(--white);
}


.left-section3 {
    overflow: visible;
    float: left;
    display: block;
    width: 55%;
    border: solid 0px;
    position: relative;
}

.right-section3 {
    display: inline-block;
    float: right;
}


iframe {
    height: 50vh;
    width: 100vw;
    box-sizing: border-box;
}

@media screen and (max-width: 1970px){
    .main-heading_p {
        top: 27%;
    }
    .main-heading_p{
        top: 35%;
    }
    .group-image{
        margin-top: 10%;
    }
    .button{
        top: 47%;
    }
    .group-image{
        max-width: 30%;
        margin-top: 2%;
    }
    .Gallery{
        margin-left: 40%;
    }
    .prev{
        margin-left: 40%;
    }
    .next{
        margin-right: 0%;
    }
}

@media screen and (max-width: 1275px) {
    .section2 {
        text-align: center;
        margin: unset;
        margin-top: 25%;
    }

    img.group-image {
        max-width: 90%;
        margin-right: 10%;
    }

    .image {
        margin-top: 20%;
        max-width: 90%;
        margin-right: 10%;
    }

    @media screen and (max-width: 1048px) {
        .left-section {
            float: unset;
            display: inline-block;
            padding-right: 10%;
        }

        .right-section {
            float: unset;
            display: flex;
            position: static;
            text-align: center;
            margin-top: 50%;
            justify-content: center;

        }

        .section4 {
            margin-top: 25%;
        }
    }

    @media screen and (max-width: 880px) {
        #background-img {
            width: 190%;
        }

        .image {
            max-width: 55%;
        }

        .section4 {
            margin-top: 45%;
        }

        .pic {
            width: 70%;
        }

        .box {
            width: 80%
        }

        .main-heading_p {
            top: 44%;
        }

        .button {
            top: 62%;
        }

        #img1, #img2, #img3 {
            width: 40%;
        }
    }

    @media screen and (max-width: 783px) {
        .group-image {
            margin-top: 20%;
            width: 70%;
        }

        .image {
            width: 70%;
        }

        #background-img {
            max-width: 140%;
        }

        .main-heading {
            font-size: 30px;
            top: 11%;
        }

        .main-heading_p {
            top: 20%;
            font-size: 15px;
        }

        .button {
            width: 29%;
            top: 30%;
        }

        .left-section2 {
            float: unset;
            justify-content: center;
            margin-right: 10%;
            position: relative;
        }

        .right-section2 {
            float: unset;
            position: relative;
        }

        .button2 {
            float: unset;
            justify-content: center;
            margin-bottom: 2%;
        }

        .right-section {
            position: relative;
            margin-top: -20%;
            padding: 0;
        }

        .left-section {
            position: relative;
        }

        .section4 {
            margin-top: -1%;
            padding-top: 25%;
        }
    }
    @media screen and (max-width: 768px) {
        .image {
            margin-right: 22%;
        }

        .main-heading {
            top: 25%;
        }

        .main-heading_p {
            top: 35%;
        }

        .button {
            top: 45%;
        }
    }
    @media screen and (max-width: 500px) {
        .main-heading {
            font-size: 20px;
            top: 11%;
        }

        .main-heading_p {
            font-size: 15px;
            top: 15%;
        }

        .button {
            font-size: 0.7rem;
            top: 25%;
        }

        p.review {
            font-size: 14px;
        }

        p.author {
            font-size: 15px;
        }
    }
    @media screen and (max-width: 380px) {
        .main-heading {
            font-size: 20px;
            top: 20%;
        }

        .main-heading_p {
            font-size: 15px;
            top: 25%;
        }

        .button {
            font-size: 0.7rem;
            top: 35%;
        }

        p.review {
            font-size: 14px;
        }

        p.author {
            font-size: 15px;
        }
    }
}